body {
    background-color: white;
}
/* style.css */

.ball {
  position: absolute;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  animation: rotate 3s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
